/* Grundläggande styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', Helvetica, sans-serif;
    font-size: 1.6rem;
    color: #5A5A5A;
    line-height: 1.6;
    letter-spacing: 2px;
    background-color: #F3F3F3;
}

/* Rubriker */
h1 {
    font-size: 3.4rem;
    font-weight: 700;
    margin: 2rem 0 1rem 0;
    color: #354D73;
}

h2 {
    font-size: 2.4rem;
    font-weight: 600;
    margin: 2rem 0 0 0;
    color: #354D73
}

h3 {
    font-size: 2.2rem;
    font-weight: 600;
    margin: 2rem 0 1rem 0;
    color: #354D73;
}

h4 {
    font-size: 2rem;
    font-weight: 600;
    margin: 2rem 0 1rem 0;
}

h5 {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 2rem 0 1rem 0;
}

h6 {
    font-size: 1.6rem;
    font-weight: 600;
    margin: 2rem 0 1rem 0;
}

/* Responsivitet för rubriker */
@media (max-width: 768px) {
    h1 {
        font-size: 2.8rem;
    }

    h2 {
        font-size: 2.2rem;
        padding: 0 2rem;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.8rem;
    }

    h5 {
        font-size: 1.7rem;
    }
}

p {
    padding: 1rem 0;
    max-width: 75ch;
}

a {
    color: #354D73;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #3F7D59;
    transition: color 0.3s;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

/* Breadcumbs */
.breadcrumbs {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    max-width: 1200px;
    font-size: 1.4rem;
}

/* Styling för listor */
ul {
    padding-left: 20px;
    margin: 0;
    padding: 1rem 0;
}

ul li {
    list-style-type: disc;
    margin-bottom: 1rem;
    list-style-position: inside;
    padding-left: 2rem;
}

/* Container för innehållet */
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 3rem auto;
}

/* Styling för single-sidor*/
.single-content {
    max-width: 75ch;
    margin: auto;
    padding: 0 2rem;
}

.single-content p,
.single-content h2,
.meta {
    margin: 0 auto;
    max-width: 75ch;
    padding: 1rem 0;
}

.meta {
    font-size: 1.4rem;
    color: #5A5A5A;
    margin: 0 !important
}

.single-content-img {
    max-width: 1200px;
    margin: 2rem auto 0 auto;
}

/* Header och navigering */
header .logo img {
    width: 100%;
    max-height: 40px;
    padding: 0.5rem 0 0 1rem;
}

header .logo a {
    color: white;
}

.header-container {
    background-color: #354D73;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: var(--header-top, 50px);
    /* Används för att flytta upp header när puffen döljs */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: top 0.3s ease;
    /* Animerar header när den flyttas */
}

/* Flytta upp header när puffen döljs */
.header-container.no-puff {
    top: 0;
}

/* Puff i headern */
.header-puff {
    background-color: #FFD700;
    color: #354D73;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 11;
    overflow: hidden;
    transition: transform 0.3s ease, opacity 0.3s ease;
    /* Animerar puffen */
}

/* Dölj puffen när den inte visas */
.header-puff.hidden {
    transform: translateY(-100%);
    opacity: 0;
}

#animated-text {
    margin: 0;
    white-space: nowrap;
    will-change: transform;
    /* Förbereder för animation */
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 0;
}

header nav ul li {
    margin: 0 1rem;
    list-style-type: none;
    padding-left: 0;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: color 0.3s;
    padding: 1rem;
}

header nav ul li a.active,
header nav ul li a:hover,
.current-menu-item a {
    color: #F4D35E !important;
    text-decoration: none;
}

/* Hero-sektionen */
.hero {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    overflow: hidden;
    background-color: #5A5A5A;
}

.small-hero {
    height: 60vh !important;
}

/* Videon / bilden som bakgrund */
.hero-video,
.hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

/* Overlay för bilder */
.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    pointer-events: none;
}

/* Video-kontroller */
.video-control {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    width: 45px;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    padding: 1.5rem;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
    /* Dölj knappen initialt */
    align-items: center;
    justify-content: center;
    z-index: 2;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.video-control:hover {
    color: rgba(255, 255, 255, 0.7);
}

.fa-pause {
    margin-left: 0 !important;
}

.fa-play {
    margin-left: 0.2rem !important;
}

.big-logo {
    max-width: 800px;
    padding: 0 1rem;
    z-index: 2;
}

.hero p {
    font-size: 2rem;
    font-weight: 600;
    margin: 2rem auto;
    padding: 0 1rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.hero h1 {
    color: white;
    padding: 0 1rem;
    margin: 4rem auto;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    z-index: 2;
    text-transform: uppercase;
}

.hero em {
    margin-left: 0.5rem;
}

/* Scroll-pil */
.scroll-down {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3.5rem;
    cursor: pointer;
    animation: bounce 1.5s infinite;
    transition: opacity 0.3s;
    z-index: 2;
}

.scroll-down a {
    color: #ffffff;
}

.scroll-down a:hover {
    opacity: 0.7;
    color: white;
}

/* Animation för pilen */
@keyframes bounce {

    0%,
    100% {
        transform: translateX(-50%) translateY(0);
    }

    50% {
        transform: translateX(-50%) translateY(15px);
    }
}

/* Knappar */
.btn,
.contact-form input[type="submit"] {
    background-color: #354D73;
    color: white;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.6rem;
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover,
.contact-form input[type="submit"]:hover {
    background-color: #468B63;
    transform: scale(1.02);
    color: #F4D35E;
    text-decoration: none;
}

.bg-btn {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
    margin: 2rem 1rem;
    z-index: 2;
}

/* Bilder */
img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* Hamburgerknappen */
.hamburger-menu {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0.5rem;
    z-index: 200;
    position: fixed;
    top: 0.8rem;
    right: 1.2rem;
}

/* Hamburgerikonen */
.hamburger-menu .bar {
    width: 30px;
    height: 4px;
    background-color: #ffffff;
    transition: all 0.3s ease;
}

/* Ändra hamburgersymbolen när menyn är öppen till X */
.hamburger-menu.open .bar:nth-child(1) {
    transform: rotate(45deg) translateY(12.5px);
}

.hamburger-menu.open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.open .bar:nth-child(3) {
    transform: rotate(-45deg) translateY(-12.5px);
}

/* Mobilmeny */
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    background-color: #354D73;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 99;
}

.mobile-menu.open {
    transform: translateY(0);
}

.mobile-menu ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.mobile-menu ul li {
    margin: 1rem 0;
    list-style-type: none;
    padding-left: 0;
}

.mobile-menu ul li a {
    font-size: 2rem;
    color: white;
}

/* Overlay för mobilmenyn */
.mobile-menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 10;
}

.mobile-menu-overlay.open {
    opacity: 1;
    visibility: visible;
}

/* Responsivitet för header, max 1024px*/
@media (max-width: 1024px) {
    .desktop-nav {
        margin: 1rem 0;
        border-top: 2px solid #F4D35E;
        padding-top: 1rem;
    }

    .header-container {
        flex-direction: column;
    }
}

/* Responsivitet för header, max 768px*/
@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
        text-align: center;
    }

    .header-container {
        align-items: flex-start;
    }

    .hero p {
        font-size: 1.6rem;
    }

    .desktop-nav {
        display: none;
    }

    .hamburger-menu {
        display: flex;
    }

    .desktop-nav {
        display: none;
    }
}

/* Startsida */
.intro {
    text-align: center;
    margin: auto;
    padding: 0 2rem;
    width: 100%;
    max-width: 1200px;
}

.intro p {
    margin: 0 auto;
}

/* Divider mellan element */
.divider {
    width: 80%;
    height: 3px;
    background-color: #F4D35E;
    margin: 5rem auto;
}

/* Container för kort */
.intro-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;
}

.intro-header p {
    margin: auto;
}

/* Kort */
.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
    width: 100%;
    max-width: 500px;
    padding: 2rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
    height: 280px;
    object-fit: cover;
}

.card p {
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

/* Knappar i kort */
.card-buttons {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.btn-blue {
    background-color: #354D73;
    color: white;
    width: 50%;
}

.btn-blue:hover {
    background-color: #2b3d5c;
}

.btn-green {
    background-color: #3F7D59;
    color: white;
    width: 50%;
}

.btn-green:hover {
    background-color: #2F5B43;
}

/* Om oss-sektion */
.about {
    text-align: center;
    padding: 6rem 2rem;
    position: relative;
    margin: 4rem 0;
    z-index: 1;
    overflow: hidden;
}

/* Bakgrundsbild och blur */
.about::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/winter-wonderland.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(1.5px);
    /* Blureffekt på bilden */
    z-index: 1;
}

.about p {
    position: relative;
    font-size: 1.6rem;
    margin: 2.5rem auto;
    max-width: 800px;
    padding: 2rem;
    color: #2b3d5c;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 2;
    text-align: center !important;
}

.btn-pink {
    position: relative;
    display: block;
    background-color: #FFC9E3;
    color: #354D73;
    max-width: 300px;
    margin: 1rem auto 4rem auto;
    z-index: 2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-pink:hover {
    background-color: #AEE0F4;
    color: #354D73;
}

/* Puff-sektion */
.highlight {
    padding: 0 2rem;
}

.highlight-content {
    text-align: center;
    background: linear-gradient(90deg, #AEE0F4, #DCCBF8, #FFC9E3);
    padding: 2rem 2rem 4rem 2rem;
    max-width: 600px;
    margin: 4rem auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Senaste nytt */
.news {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    margin: 2rem 0;
}

.news-card {
    display: flex;
    flex-wrap: wrap;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.news-card img {
    max-width: 510px;
    object-fit: cover;
}

.news-card .btn {
    display: block;
    text-align: center;
    width: 200px;
}

.news-content {
    padding: 20px;
    flex: 1;
    max-width: 510px;
    margin-left: 1rem;
}

.news-content p {
    margin-bottom: 2rem;
    font-size: 1.4rem;
}

@media (max-width: 859px) {

    .news-card img,
    .news-content {
        max-width: 100%;
        margin-left: 0;
        text-align: center;
    }

    .news-card .btn {
        margin: 0 auto;
    }
}

/* Layout för boende/upplevelser/nyheter-sidorna */
.page-layout {
    display: flex;
    max-width: 1200px;
    gap: 8rem;
    margin: 0 auto;
}

/* Huvudinnehåll */
.main-content {
    flex: 3;
    width: 100vw;
}

.main-content h2 {
    margin: 2rem auto 3rem auto;
    text-align: center;
}

.content-item {
    display: flex;
    flex-direction: column;
}

.content-item img {
    max-height: 400px;
    object-fit: cover;
}

.content-details {
    flex: 1;
    padding: 0 2rem;
    max-width: 75ch;
    margin: 0 auto;
}

.content-button {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-top: 4rem;
}

.content-button .btn {
    width: 100%;
    max-width: 300px;
}

/* Sidomeny */
.sidebar {
    flex: 1;
    background: linear-gradient(90deg, #AEE0F4, #DCCBF8, #FFC9E3);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 88px 2rem 2rem 2rem;
    align-self: flex-start;
    padding-bottom: 3rem;
}

.sidebar-item {
    margin-bottom: 4rem;
}

.sidebar h2 {
    text-align: center;
    margin: 2rem auto;
    font-size: 2rem;
}

/* Bildsektion */
.image-container {
    position: relative;
    overflow: hidden;
    display: block;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
    min-height: 200px;
    object-fit: cover;
    max-height: 400px;
    transition: transform 0.3s ease;
}

/* Rubrik ovanpå bild */
.image-title {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    width: auto;
    min-width: 200px;
    background: rgba(255, 255, 255, 0.7);
    color: #354D73;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    font-size: 1.4rem !important;
    text-align: center;
    padding: 1.5rem;
    transition: all 0.3s ease;
    transform: translate(-50%, -50%);
    z-index: 2;
    margin: 0 !important;
}

/* Hover-effekt på bild */
.image-container:hover .image-title {
    background: rgba(53, 77, 115, 0.7);
    color: white;
    font-size: 1.6rem !important;
}

.image-container:hover img {
    transform: scale(1.1);
}

/* Sidomeny-lista */
.sidebar-list {
    padding: 0 2rem;
    margin: 2rem 0;
}

.sidebar-list ul {
    padding: 0;
}

.sidebar-list ul li {
    list-style-type: none;
    padding: 1rem;
    text-align: center;
}

/* Puff längst ner i sidomeny */
.sidebar-puff {
    background-color: #F4D35E;
    padding: 1rem 1rem 3rem 1rem;
    margin: 2rem;
    text-align: center;
}

.sidebar-puff p {
    margin: auto;
}

/* Responsivitet för boende/upplevelser/nyheter-sidorna */
@media (max-width: 1200px) {
    .page-layout {
        flex-direction: column;
        gap: 4rem;
    }

    .sidebar {
        margin: 2rem 0;
        border-radius: 0;
        width: 100vw;
    }

    .image-title {
        font-size: 2rem;
    }

    .image-container:hover .image-title {
        font-size: 2.2rem;
    }
}

/* Kontaktformulär */
.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2rem auto 0 auto;
}

.contact-form input[type="submit"] {
    border: none;
    width: 50%;
    margin-right: 50%;
    cursor: pointer;
}

.contact-form label {
    display: block;
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #354D73;
    text-align: left;
    padding-left: 2px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 1rem;
    font-size: 1.4rem;
    border: 1px solid #CCC;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    font-family: "Poppins", sans-serif;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline-color: #F4D35E;
}

.contact-form p {
    margin: 0;
}

/* Styling för karta */
.map-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin: 2rem auto;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* Responsivitet för kontaktformulär */
@media (max-width: 600px) {
    .contact-form input[type="submit"] {
        width: 100%;
        margin-right: 0;
    }
}

/* Footer */
footer {
    background-color: #3F7D59;
    color: white;
    padding: 2rem 1rem;
    text-align: center;
    font-size: 1.4rem;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    margin-top: 10rem;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1600px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 1rem;
}

.footer-section h2 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    color: #ffffff;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 1.5rem 0;
    list-style-type: none;
    padding-left: 0;
}

.footer-section ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.4rem;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #F4D35E;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

.footer-search {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-search form {
    display: flex;
}

.footer-search input {
    padding-left: 2rem;
    border: none;
    border-radius: 20px 0 0 20px;
    font-size: 1.5rem;
    height: 4rem;
    transform: translateX(+1px);
    /* Flytta input 1px för att matcha knappen */
}

.footer-search input:focus {
    outline-color: #F4D35E;
}

.footer-search button {
    padding: 0 2rem 0 1rem;
    background-color: white;
    border: none;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    font-size: 1.8rem;
    height: 4rem;
}

.footer-search button .fa-search {
    color: #3F7D59;
    transition: 0.3s;
}

.footer-search button .fa-search:hover {
    transition: transform 0.3s ease;
    transform: scale(1.1);
}

/* Skärmläsartext för labels i sökformulär och nyhetsbrev */
.screen-reader-text,
.tnp-field label {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    /* Döljer texten visuellt */
    width: 1px;
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
}

.footer-lang {
    display: flex;
    justify-content: center;
    margin: 4rem auto;
}

.footer-social {
    margin: 4rem 0 2rem 0;
}

.footer-social a {
    margin: 0 1rem;
    font-size: 2rem;
    color: white;
    transition: color 0.3s;
}

.footer-social em:hover {
    color: #F4D35E;

}

.footer-bottom {
    margin: 2rem auto 0 auto;
    border-top: 2px solid #F4D35E;
    padding-top: 2rem;
    max-width: 800px;
}

.footer-bottom p {
    font-size: 1.4rem;
    margin: 0;
    color: white;
    max-width: 100%;
}

/* Wordpress recensioner */
.glsr-default .glsr-review {
    justify-content: center;
    background-color: white;
    padding: 2rem;
    flex: 0 1 calc(50% - 2rem);
    /* Två recensioner per rad */
    margin: 1rem;
    box-sizing: border-box;
}

.glsr-default .glsr-review-author {
    padding-top: 2rem;
}

.glsr-reviews,
.glsr-reviews-wrap {
    display: flex !important;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0 !important;
    grid-gap: 0 !important;
}

.glsr-default .glsr-review-date {
    flex: 0 !important;
}

/* Responsivitet för recensioner */
@media (max-width: 768px) {
    .glsr-default .glsr-review {
        flex: 0 1 100%;
    }

    .glsr-reviews,
    .glsr-reviews-wrap {
        flex-direction: column;
    }
}

/* Wordpress nyhetsbrev */
.tnp-widget input.tnp-submit {
    background-color: #354D73 !important;
    border: none;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.tnp-widget input.tnp-submit:hover {
    background-color: #2b3d5c !important;
}

.tnp-widget input[type="email"] {
    padding: 1rem;
    font-size: 1.4rem;
    border: 1px solid #CCC;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    font-family: "Poppins", sans-serif;
}

.tnp-widget input[type="email"]:focus {
    outline-color: #F4D35E;
}

/* Styling för leaflet-karta */
.leaflet-map {
    z-index: 1;
}